body {
    overflow-y: scroll;
    font-family: lato, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

::selection {
    color: #FFFFFF;
    background: #FF0000;
}

.container-fluid{
    border: none;
    background-color: #fff;
    border-radius: 0;
    border-collapse: collapse;
}
@media (min-width: 1080px) {

    #navbar ul li{
        width: 126px;
    }
    .container {
        width: 1080px;
    }
    #navbar ul{
        height: 76px;
    }
}

.navbar-header{
    margin-top: 5px;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-brand{
    padding: 0;
    margin: 3px;
}

#navbar ul li{
    margin: 2px;
    text-align: center;
    height:100%;
}
#navbar ul li a:hover{
    background-color: #f7f7f7;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: #f7f7f7;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

#navbar ul li a{
    top: 18px;
    font-size: 20px;
    padding: 10px;
}

ul.nav li ul{
    height: auto !important;
}

ul.nav li ul li {
    width: auto !important;
}
ul.nav li ul li a{
    color: #777 !important;
}
ul.nav li ul li.active a{
    color: #BA0000 !important;
}

.navbar-default .navbar-nav .active a{
    background-color: #fff;
    color: #BA0000;
}

.logo{
    height: 72px;
    margin-right: 24px;
}

header{
    width: 100%;
    height: 78px;
    padding: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 11px rgba(0,0,0,0.5);
}

header nav{
    margin-bottom: 0 !important;
}

.first{
    margin: 78px 0 0 0;
    padding: 0;
}

footer{
    background-color: #B5B5B5;
    color: #fff;
    padding: 7px;
}

/*
 * Theme CSS
 */

/*
 * Nav
 */

.uk-nav {}

.uk-active {}

.uk-parent {}

.uk-nav-sub {}

/*
 * Page and Posts
 */

.uk-article {}

.uk-article-title {}

.uk-article-meta{}

/*
 * Subnav
 */

.uk-subnav {}

/*
 * Pagination
 */

.uk-pagination {}

.uk-pagination-previous {}

.uk-pagination-next {}

/*
 * Comment
 */

.uk-comment-list {}

.uk-comment {}

.uk-comment-header {}

.uk-comment-avatar {}

.uk-comment-title {}

.uk-comment-meta {}

.uk-comment-meta {}

.uk-comment-body {}

/*
 * Form
 */

.uk-form {}

.uk-form-stacked {}

.uk-form-row {}

.uk-form-label {}

.uk-form-controls {}

.uk-form-width-medium {}

.uk-form-width-large {}

.uk-form-help-block

/*
 * Button
 */

.uk-button {}

.uk-button-primary {}

/*
 * Utility
 */

.uk-width-1-1 {}

.uk-margin {}

.uk-margin-large {}

.uk-h4 {}

.uk-text-danger {}

.uk-link-muted {}

.uk-display-block{}