html{
    position:relative;
    min-height: 100%;
}
body {
    overflow-y: scroll;
    font-family: lato, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    padding:0 0 62px 0;
    margin: 0;
}

::selection {
    color: #FFFFFF;
    background: #FF0000;
}

@media (min-width: 1080px) {
    .container {
        width: 1080px;
    }
}

@media only screen and (max-width: 767px)  {
    footer .container{
        line-height: 28px
    }
    footer .container span{
        margin: 0;
        padding: 0;
        display: block;
        text-align:center;
    }
    footer .container img{
        margin-top: -8px;
    }
    footer .container span.line::first-letter{
        /*border: 2px solid red;*/
        visibility: hidden;
    }
    body {
        padding: 0 0 138px 0;
    }
}

.container-fluid{
    border: none;
    background-color: #fff;
    border-radius: 0;
    border-collapse: collapse;
}

.panel-info > .panel-heading{
    color: #fff;
    background-color: #BA0000;
    border-color: #B5B5B5;
}

.panel-info{
    border-color: #B5B5B5;
}



article > h1{
    color: #D41A1A;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}


.first{
    margin: 78px 0 0 0;
    padding: 0;
}

footer{
    background-color: #B5B5B5;
    color: #fff;
    padding: 7px;
    position: absolute;
    width: 100%;
    bottom:0;
    min-height: 48px;
    line-height: 48px;
}

.btn-red:hover{
    color: #fff;
    background-color: #AC0000;
    border-color: #830000;
}

.btn-red{
    color: #fff;
    background-color: #BA0000;
    border-color: #830000;
}

@media (min-width: 1080px) {
    .pull-right-only {
        float: right;
    }
}
